@model IEnumerable<luyentap1.Models.Entities.LoaiHang>
<div class="header">
    <div class="header_top">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="" /></a>
        </div>
        <div class="cart">
            <p>
                Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
                    0 item(s) - $0.00
                    <ul class="dropdown">
                        <li>you have no items in your Shopping cart</li>
                    </ul>
                </div>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header_bottom">
        <div class="menu">
            <ul>
                <li class="active"><a href="#">Nguyễn Vũ Long</a></li>
                @foreach (var l in Model)
                {
                    <li id="@l.MaLoai"><a href="#">@l.TenLoai</a></li>
                }

               
                <div class="clear"></div>
            </ul>
        </div>
        <div class="search_box">
            <form>
                <input type="text" value="Search" id="searchbox" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                <input type="button" value="" onclick="OnSearch()">
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    $("li").click(function (e) {
        var id = $(this).attr("id")
        console.log(id)
        $.ajax({
            url: "RenderProductByCatID",
            data: { CatID: id },
            success: function (response) {
                $("div.content").html(response)
                console.log(response)
            }
        });
    });
    function OnSearch() {
        searchString = document.getElementById("searchbox").value
        console.log(searchString)
        $.ajax({
            url: "RenderProductByName",
            data: { searchString: searchString },
            success: function (response) {
                $("div.content").html(response)
                console.log(response)
            }
        });
    }
</script>